<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'css/styles.css' %}">
</head>
<body>
    <div class = 'introduction'>
        <header class = 'login-header'>
                <div class="logo-login">
                    <img src="{% static 'images/logo.png' %}" alt="Career Climb Logo">
                </div>
            <h1>Forgot Password?</h1>
        </header>
    </div>
<main>
    <div class = "login-container">
        <form class = "login-form">
            <div class = "login-form-group">
                <label for = "login-email">Email</label>
                <input type = "text" id = "login-email" placeholder = "Enter Email" required>
            </div>    
            <button type="submit" class="login-button">Send Email</button>    
        </form>
    </div>
</main>
<footer class="footer">
    <p>&copy; <span id="year">2024</span> CareerClimb. All rights reserved.</p>
</footer>
</body>
</html>