{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Interview Prep</title>
</head>

<body>
    <div class="container">

        <!-- Sidebar Section -->
        <aside class="sidebar">
            <div class="logo">
                <img class="logo" src="{% static 'images/logo.png' %}" alt="Career Climb Logo">
                <h1>Career Climb</h1>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'interview_prep_form' %}">Interview Prep</a></li>
                    {% if user.is_authenticated %}
                    <li><a href = "{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
                <hr>
                <ul>
                    <li><a href="{% url 'add_job_listing' %}">Add Job Listing</a></li>
                </ul>
            </nav>
        </aside>

       
        <div class="ip-container">
             <h1>Interview Prep</h1>

         <!-- Interview Prep Form Section -->
            <div class="ip-content">
                <div class="ip-header">
                        
                </div>
                <form action="{% url 'interview_prep_form' %}" method="post">
                    {% csrf_token %}
                    <div class="ip-form-container">
                        <div class="ip-job-container">
                            <h2>Paste Job Description</h2>
                            <p> Quesions will be generated based of of this and you resume.</p>
                            <div class="ip-paste-container">
                                <textarea class="ip-textarea" required name="job_description" placeholder="Paste Job Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="ip-button-container">
                            <button type="submit" class="ip-generate-button">Generate Questions</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; <span id="2024"></span> Career Climb. All rights reserved.</p>
    </footer>

</body>

</html>
