<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'css/styles.css' %}">
</head>
<body>
<div class = 'introduction'>
    <header class = 'login-header'>
            <div class="logo-login">
                <img src="{% static 'images/logo.png' %}" alt="Career Climb Logo">
            </div>
        <h1>Welcome to CareerClimb!</h1>
    </header>
</div>

    
<main>
    <div class = 'intro-para'>
        <p>
            Take your Career to new heights with CareerClimb! We provide expert resume advice and job application tracking that helps you
            stay organized as you apply. Watch our friendly koala mascot climb and higher with each milestone, motivating you as you move closer
            to landing your dream job. From resume tips to visual progress tracking, Career Climb is your go-to tool for success.
        </p>
    </div>
    <div class="login-container">
        <form class="login-form" action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <div class="login-form-group">
                <label for="login-email">Email</label>
                <input type="text" id="login-email" name="login-email" placeholder="Enter Email" required>
            </div>
            <div class="login-form-group">
                <label for="login-password">Password</label>
                <input type="password" id="login-password" name="login-password" placeholder="Enter Password" required>
            </div>
            <button type="submit" class="login-button">Sign In</button>
            <div class="login-links">
                <a href="{% url 'forgot-password' %}" class="login-forgot-password-link">Forgot password?</a>
                <a href="{% url 'register' %}" class="login-register-link">New User?<br>Make an Account</a>
            </div>
        </form>
    </div>
</main>

<footer class="footer">
    <p>&copy; <span id="year">2024</span> CareerClimb. All rights reserved.</p>
</footer>
</body>
</html>