<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'css/styles.css' %}">
</head>
<body>
    
    <div class = 'introduction'>
        <header class = 'login-header'>
                <div class="logo-login">
                    <img src="{% static 'images/logo.png' %}" alt="Career Climb Logo">
                </div>
            <h1>Career Climb Sign Up</h1>
        </header>
    </div>

   
    <main>
        <div class="login-container">
            <form class="login-form" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class = "login-form-group">
                    <label for = "register-firstName">First Name</label>
                    <input type = "text" id = "register-firstName" name = "register-firstName" placeholder = "Enter First Name" required>
                </div>
                <div class = "login-form-group">
                    <label for = "register-lastName">Last Name</label>
                    <input type = "text" id = "register-lastName" name = "register-lastName" placeholder = "Enter Last Name" required>
                </div>
                <div class="login-form-group">
                    <label for="register-email">Email</label>
                    <input type="text" id="register-email" name="register-email" placeholder="Enter Email" required>
                </div>
                <div class="login-form-group">
                    <label for="register-password">Password</label>
                    <input type="password" id="register-password" name="register-password" placeholder="Enter Password" required>
                </div>
                <div class="login-form-group">
                    <label for="register-RePassword">Re-Enter Password</label>
                    <input type="password" id="register-RePassword" name="register-RePassword" placeholder="Re-Enter Password" required>
                </div>
                <button type="submit" class="login-button">Sign Up</button>
            </form>
        </div>
        </form>
        
    </main>

    
    <footer class="footer">
        <p>&copy; <span id="year">2024</span> CareerClimb. All rights reserved.</p>
    </footer>
</body>
</html>